.markdown-body p code{
    background-color: rgba(27,31,35,.05);
    color: #e83e8c;
}

.post .post-a {
    color: #6aaaaa!important;
}

.post .post-a:hover{
    color: #2f343f;
}

.post .abstract{
    color: #3f3f3f;
}

.el-tag--dark.el-tag--success{
    background-color: #6aaaaa;
    border-color: #6aaaaa;
}

a {
    color: #6aaaaa;
}

.el-button.is-plain:focus, .el-button.is-plain:hover {
    border-color: #6aaaaa;
}

.el-button--primary:focus, .el-button--primary:hover {
    background-color: #6ddddd;
    border-color: #6ddddd;
}

.el-button--primary {
    background-color: #6aaaaa;
    border-color: #6aaaaa;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #6aaaaa;
    color: #fafafa;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #6aaaaa;
}

.el-select-dropdown__item.selected {
    color: #6aaaaa;
}

.el-button:focus, .el-button:hover {
    color: #6aaaaa;
    border-color: #6aaaaa;
}