.markdown-body p code{
    background-color: var(--markdown-code-bg);
    color: var(--markdown-code-color);
}

.el-tag--dark.el-tag--success{
    background-color: var(--main-color);
    border-color: var(--main-color);
}